<h1>Joshua</h1>
<%= link_to "Hire him", 'contacts/new' %>
<li><%= link_to "Joshua's Amaz'ing resume", "http://joshuakemp.blogspot.com/" %></li>
<%= link_to "Contact", 'contacts/new' %>

<h5>Shop by Department<h5> 

<h4>Search</h4>

<h5>Job Candidates</h5>

<%=button_to "Candidates", '#' %>

<%= button_to "Go", '#' %>

<h5>Hello,Company</h5>
<h4>Your Account</h4>

<%= link_to "Hire Him", 'contacts/new' %>

<%= link_to "Cart", 'contacts/new' %>


<%= link_to "Wish List", 'contacts/new' %>


<%= image_tag("josh.jpg") %>

<h3>Joshua Kemp, Junior Ruby on Rails Developer</h3>
<h6>by Joshua Kemp</h6>
<h6>(5 people who recommend me)</h6>
<h6>List Price: $999,999</h6>
<h6>Price:</h6><h4>Add to cart for pricing information</h4><h5>& this item ships for FREE with Super Saver Shipping.</h5>

<h4>Only 1 left in stock - Order soon.</h4>
<h6>Ships from Northern, Virginia. Gift-wrap available(frustration-free breathable packaging).</h6>

<li>7+ months using Ruby on Rails technology</li>
<li>650+ hours of learning/studying Ruby on Rails</li>
<li>Motivated self starter</li>
<li>Hard working TEAM player</li>
<li>Entrepreneurial mindset, A Doer</li>
<li>Awesome blogger :-)</li>

<h5>Quantity: 1</h5>

<%=link_to image_tag"add_to_cart_button.gif"  'contacts/new', :method => "get"%>
 <h5>or</h5>
<h6>Sign in to turn on 1-Click ordering.</h6>
<%= button_to "Add to Wish List", 'contacts/new', :method => "get"%>
<%= button_to "Add to Wedding Registry", '#'%>
<a href="http://joshuakemp.blogspot.com/"><%=image_tag"blogger_button.jpg"%></a>

<%=link_to "Email", 'contacts/new', :method => "get"%>
<a href="https://twitter.com/Joshuakemp01"><%=image_tag"tweet_tweet.jpg"%></a>
<a href="https://github.com/joshuakemp1"><%=image_tag"github.jpg"%></a>
<a href="https://plus.google.com/u/0/106300667835431231840/posts"><%=image_tag"google.jpg"%></a>

<h4>Frequently Bought Together</h4>

<a href="http://www.amazon.com/Hacking-Your-Education-Lectures-Thousands/dp/0399159967"><%=image_tag"dales_book.jpg"%></a>
<p>plus sign</p>

<a href="http://www.amazon.com/Hacking-Your-Education-Lectures-Thousands/dp/0399159967"><%=image_tag"dales_book.jpg"%></a>
<p>plus sign</p>

<a href="http://www.amazon.com/Hacking-Your-Education-Lectures-Thousands/dp/0399159967"><%=image_tag"dales_book.jpg"%></a>
<p>plus sign</p>

<%=image_tag "Add_all_three_to_cart_button.gif"%><%=image_tag "Add_all_three_to_wish_list.gif"%>
<br></br>

<li><%="This item: Joshua Kemp, Junior RoR Developer"%></li>

<li><a href="http://www.amazon.com/Hacking-Your-Education-Lectures-Thousands/dp/0399159967" >Hacking your education</a></li>

<li><a href=http://www.amazon.com/Nike-Golf-Victory-Speed-Graphite/dp/B0073JXJYA/ref=sr_1_11?s=sporting-goods&ie=UTF8&qid=1368622425&sr=1-11&keywords=nike+golf+clubs">Nike Golf Clubs</a></li>


<h2>Product Details</h2>
<br></br>
<li>Product Dimensions: Height: 180.34cm </li>
<li>Shipping: This item is available for shipping anywhere in the u.s.a!</li>
<li>Best 5k time while pushing my boys in a stroller: 43min</li>
<li>Average Customer Review: 5 out of 5 stars See all reviews(5 previous positions)</li>
<li>Education:</li>

    <ul>Homeschooled Hackademic</ul><li><a href=<li><a href=http://www.uncollege.org/manifesto/>University of Hackademic</a></li>

    <ul>Completed</ul><li><a href=https://www.edx.org/courses/BerkeleyX/CS169.1x/2013_Spring/about>Saas 169.1x edx Berkeley</a></li>

     <ul>Completed</ul><li><a href=https://www.edx.org/courses/BerkeleyX/CS169.2x/2013_Spring/about>Saas 169.2x edx Berkeley</a></li>

     <ul>Attended over 20 local Meetups</ul><li><a href=http://www.meetup.com/novarug//about>NOVARug</a></li>

     <li><a href=http://www.meetup.com/Arlington-Ruby/>ArlingtonRuby</a></li>

     <li><a href=http://www.meetup.com/South-Arlington-Hacker-Space/>South Arlington Hacker Space</a></li>

     <ul>650+ hours of learning RoR</ul><li><a href=http://joshuakemp.blogspot.com/2013/04/officially-6-months-learning-ruby-on.html>Verification Log</a></li>

     <ul>Github Resume</ul><li><a href=https://github.com/joshuakemp1?tab=repositories>Github</a></li>

     <ul>Projects I've made or contributed to:</ul><li><a href=http://joshuakemp.blogspot.com/>Projects</a></li>

     <h3>Main Skill Rank</h3>













